@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';


Button.-primary {
  font-size: 18;
}

Button{
  android-elevation: 0;
}

TextField{
  border-bottom-width: 1;
  border-bottom-color: transparent;
}

.fa {
  font-family: "FontAwesome";
}
