<ActionBar title="">
    <NavigationButton icon="res://ic_arrow_back_black_24dp" (tap)="onLogoutTap()"></NavigationButton>
</ActionBar>
<StackLayout padding="20">
    <FlexboxLayout class="title-bar-container">
        <FlexboxLayout class="hero-text-container">
            <Label text="Hello 👋, {{user?.email}}" class="greet-text"></Label>
            <Label text="Your Contacts ({{contactList.length}})" class="my-contact-title"></Label>
        </FlexboxLayout>
        <FlexboxLayout>
            <Button text="Logout" (tap)="onLogoutTap()" class="logout-btn"></Button>
        </FlexboxLayout>
    </FlexboxLayout>

    <FlexboxLayout marginTop="40">
        <Button text="Create new" (tap)="onCreateTap()" class="create-btn"></Button>
    </FlexboxLayout>

    <ScrollView>
        <FlexboxLayout marginTop="20" class="contact-list-container">
            <FlexboxLayout *ngIf="isGetContactsLoading" class="loader">
                <ActivityIndicator busy="isGetContactsLoading" color="#3461FD">
                </ActivityIndicator>
            </FlexboxLayout>

            <TextView *ngIf="!isGetContactsLoading && contactList?.length === 0" editable="false" text="No data"
                class="text-center" fontSize="16px" fontWeight="500" width="100%"></TextView>

            <StackLayout *ngIf="!isGetContactsLoading && contactList?.length > 0" class="contact-list-stack">
                <FlexboxLayout *ngFor="let contact of contactList" class="contact-card-container">
                    <Label [text]="contactsFetchError" *ngIf="contactsFetchError" class="validation-error"></Label>

                    <FlexboxLayout class="contact-card-image-container" width="20%">
                        <!-- <Image [src]="contact.imageSrc"></Image> -->
                    </FlexboxLayout>

                    <FlexboxLayout class="contact-card-info-container" width="50%">
                        <label [text]="contact.name" class="contact-name"></label>
                        <label [text]="contact.email" class="contact-email"></label>
                        <label [text]="contact.phone" class="contact-phone"></label>
                    </FlexboxLayout>

                    <FlexboxLayout class="contact-card-action-container" width="30%" height="100">
                        <Button text="Edit" (tap)="onEditTap()" class="edit-btn"></Button>
                        <Button text="Delete" (tap)="onDeleteTap(contact.contactId)" class="delete-btn"></Button>
                    </FlexboxLayout>
                </FlexboxLayout>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>
</StackLayout>