.title-bar-container{
    justify-content: space-between;
}

.loader{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50;
}

.hero-text-container{
    flex-direction: column;
}

.greet-text{
    font-size: 14px;
}

.my-contact-title{
    font-size: 30px;
    font-weight: 600;
}

.logout-btn, .create-btn{
    height: 60;
    margin: 0;
    border-radius: 10;
    font-size: 16px;
    font-weight: 600;
}

.logout-btn{
    border-width: 2;
    border-color: rgb(178, 34, 34);
    color: firebrick;
}

.create-btn{
    background-color: #3461FD;
    color: white;
    width: 130;
}

.contact-list-container{
}

.contact-card-container {
    border-width: 2;
    border-color: #C0C5C8;
    border-radius: 10;
    margin-bottom: 20;
    width: 100%;
    padding: 20;
}

.contact-card-image-container{
    height: 50;
    width: 50;
    border-radius: 50%;
    background-color: #F3F5F7;
    margin-right: 20;
}

.photo {
    width: 100%;
    height: 100%;
}

.contact-card-info-container{
    flex-direction: column;
    justify-content: center;
}

.contact-name {
    font-weight: 600;
    font-size: 16px;
}

.contact-email,
.contact-phone {
    font-weight: 600;
    font-size: 14px;
    color: #C0C5C8;
}

.contact-card-action-container{
    flex-direction: column;
}

.edit-btn, .delete-btn{
    height: 60;
    border-radius: 10;
    font-size: 16px;
    font-weight: 600;
    border-width: 2;
    margin-right: 0;
}

.edit-btn{
    border-color: #3461FD;
    color: #3461FD;
}

.delete-btn{
    border-color: firebrick;
    color: firebrick;
}
